                  <div class="column">
                        <label id="location" for="select-dist">
                            Classification
                        </label>
                        <select id="select-classification" aria-required="true" name="classification" >
                          <option value="0">Select a classification</option>
                          <% for (var i=0; i < data.length; i++) {  %>
                            <option value="<%- data[i].name%>"><%- data[i].name%></option>
                          <%}%>
                        </select>
                  </div>