                  <div class="column">
                        <label id="location" for="select-dist">
                            Recall Status
                        </label>
                        <select id="select-recallStatus" aria-required="true" name="recallStatus" multiple>
                          <option value="">Select a recall status</option>
                          <% for (var i=0; i < data.length; i++) {  %>
                            <option value="<%- data[i].name%>"><%- data[i].name%></option>
                          <%}%>
                        </select>
                  </div>