                  <div class="column">
                        <label id="location" for="select-dist">
                            Recalling Firm
                        </label>
                        <select id="select-recallingFirm" aria-required="true" name="recallFirm" >
                          <option value="">Select a recall firm</option>
                          <% for (var i=0; i < data.length; i++) {  %>
                            <option value="<%- data[i].name%>"><%- data[i].name%></option>
                          <%}%>
                        </select>
                  </div>